@{
    ViewBag.Title = "Soru Kullanıcı Eşleştirme Sayfası";
}
<h2>Soru Kulanıcı Eslestirme Sayfası</h2>

<br />
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Soru Kullanıcı Eşleştirme Sayfası</title>
    <link href="~/Content/css/font.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>

<body>
    <br />

    <form action="/Home/KullaniciSoruEkrani" method="post">
        <div class="form-group">
            <label for="userPicker">Kişi Seçiniz</label>
            @Html.DropDownList("kisiler", new SelectList(ViewBag.kisiler, "Value", "Text"), "Lütfen bir kişi seçiniz", new { @class = "form-control" })
        </div>

        <br />

        <div class="form-group">
            <label for="qustionPicker">Soru Seç</label>
            @Html.DropDownList("sorular", new SelectList(ViewBag.sorular, "Value", "Text"), "Lütfen bir soru seçiniz", new { @class = "form-control" })
        </div>

        <br />

        <button type="submit" class="btn btn-warning" id="save">Seçimi Kaydet</button>
    </form>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/js/app.js"></script>
</body>

</html>